body
  font-family: 'Hind', sans-serif;
  
.a11yze
  position relative

// control bar
.a11yze-controls
  position absolute
  width 100%
  background-color #000
  color #fff
  margin-top -15px
  .control
    display inline-block
    